<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" 
			 connectionString="Data Source=WIN-DRMTP6R6BKI;Initial Catalog=University;Persist Security Info=True; User ID = univer;Password=123" 
			 providerName="System.Data.SqlClient" />
		
		<!--add name="SecondConnection" connectionString="Data Source=USER-ПК; Initial Catalog=User; Integrated Security=True" providerName="System.Data.SqlClient"/-->
		<add name="LibraryLabEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=L;initial catalog=LibraryLab;user id=danik;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
	</connectionStrings>
</configuration>